body{
    text-align: center;
}
.resim{
    margin-top: 30px;
    margin-left: 5px;
}
.ust{
    position: relative;
    padding-left: 1050px;
    width: 250px;
    
    
}
.ilk {
    background-color: white;
    margin-right: 20px;
  }

.cubuk{
    border-radius: 100px;
    width: 560px;
    height:38px;
    margin-top: 25px;
}
.search{
    width:115px;
    margin-right: 10px;
    height: 31px;
   border:1px;
   color: rgb(75, 74, 74);
   background-color: rgb(245, 244, 244);
}

.button:hover {
    background-color:yellow;
    color:black;
    
  }
.lucky{
    width:195px;
    height: 31px;
    border:1px;
    color: rgb(75, 74, 74);
    background-color: rgb(245, 244, 244);
}
.tablo {
   
    
}
.oturum{
    background-color: rgb(73, 73, 233);
    color: white;
    
}
.foot
{
    margin-left: -8px;
    margin-right:-8px;
    margin-top: 145px;
    background-color: rgb(233, 232, 232);
    height: 43px;
    padding-top: 15px;
    padding-right: 1255px;
    color: rgb(75, 74, 74);
    
}
.foott
{
     
    margin-left: -8px;
    margin-right:-8px;
    background-color: rgb(233, 232, 232);
    height: 43px;
    padding-right: 990px;
    color: rgb(75, 74, 74);
    float: left;
    width:359px;
    
}
.son{
    margin-left: 20px;
    
    float: left;
    
}
.eklem{
    width:255px;
    margin-top: -18px;
    padding-left: 550px;
    float: left;
    margin-left: 25px;
}
.gizli{
    margin-top: -18px;
    width:267px;        
    padding-left: 1100px;
    float: left;
}